﻿a {
    display: block;
    font-weight: bold;
    color: black;
    text-decoration: none;
    cursor: pointer;
}
/* unvisited link */
a:link {
    color: black;
}

/* visited link */
a:visited {
    color: black;
}

/* mouse over link */
a:hover {
    color: blue;
}

/* selected link */
a:active {
    color: blue;
}

.row {
    color: black;
}
hr {
    border: 0;
    margin: 20px 0;
    border-top: #ddd 1px solid;
    border-bottom: #fff 1px solid;
}
