﻿<div class="row">
    <a class="col-md-4 col-sm-6" [routerLink]="['/hash']">
        <h4><i class="fa fa-hashtag" aria-hidden="true"></i> Hash</h4>
        A demonstration of the SHA256 hash.
    </a>
    <a class="col-md-4 col-sm-6" [routerLink]="['/block']">
        <h4><i class="fa fa-superpowers" aria-hidden="true"></i> Block</h4>
        A demonstration of a single block.
    </a>
    <a class="col-md-4 col-sm-6" [routerLink]="['/blockchain']">
        <h4><i class="fa fa-arrows-alt" aria-hidden="true"></i> Blockchain</h4>
        This demonstration is the actual blockchain of Bitcoin.
    </a>
    <a class="col-md-4 col-sm-6" [routerLink]="['/distributed']">
        <h4><i class="fa fa-btc" aria-hidden="true"></i> Distributed</h4>
        This demonstrates a distributed blockchain.
    </a>
    <a class="col-md-4 col-sm-6" [routerLink]="['/tokens']">
        <h4><i class="fa fa-pencil" aria-hidden="true"></i> Tokens</h4>
        A demonstration of tokens.
    </a>
    <a class="col-md-4 col-sm-6" [routerLink]="['/coinbase']">
        <h4><i class="fa fa-eye" aria-hidden="true"></i> Coinbase</h4>
        A demonstration of Coinbase.
    </a>
</div>
<hr />
