﻿<h4>SHA256 Hash</h4>
<div>

    <div>
        <div>
            <label for="data" class="col-sm-2 control-label">Data:</label>
            <div class="col-sm-10">
                <textarea id="data" rows="10"></textarea>
            </div>
        </div>
        <div>
            <label for="hash" class="col-sm-2 control-label">Hash:</label>
            <div class="col-sm-10">

            </div>
        </div>
    </div>
</div>